# Introduction to Python

# check the system version
# Anything starting with a "#" means its a comment

# multiple text editors for coding in python (For example – Jupyter, Spyder, ipythonnb and so on)
# we will coding in jupyter

# how to create a new python workbook ?
# how to open an existing one ?
# brief about where Python functions and change it ?

# shortcut for executing a cell - Shift + enter
# how to create a cell above or below ? 

###### few shortcuts 

# ----- get into edit mode using ctrl + m
# ----- new cell above - a
# ----- new cell below - b
# ----- explore shortcuts - ctrl + m + h (that is h - help)
# ----- enter to edit the cell


#the cells by default display only the last result

In [ ]:
#check the system version
import sys
print(sys.version)

In [ ]:
import sys

In [ ]:
print(sys.version)

In [ ]:
x = "intro to numpy"
print(x)

In [ ]:
name = "Ekta Shah"
print(name)

In [ ]:
print(type(name))

In [ ]:
y=5
x='datascience'
print(type(y))
print(type(x))
print(y)
print(x)

In [ ]:
a=5
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(b**3)
print(a%b)

In [ ]:
#Taking input as a string
name = input("Enter the name : ")
print("Name entered is : ", name)

In [ ]:
#Input numbers from user
num1 = int(input("Enter the num1:"))
num2 = int(input("Enter the num2:"))
print("Addition :",num1+num2)
print("Subtraction:",num1-num2)
print("Multiplication:",num1*num2)
print("Division:",num1/num2)
print("Squaring:",num1**2)
print("Modulus:",num1%num2)

In [ ]:
x=10
print(x)

In [ ]:
print(8+3)
print(5*2)

In [ ]:
t1 = 5
t2 = 0.55
t3 = -5/2
t4 = "data science"
t5 = 'data science'

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)
print("")
print(t1,t2,t3,t4,t5)

#print(t1 t2 t3 t4 t5)


# single/double intverted comma's creates the character variables
# to print multiple results, we can use commo sepearator

In [ ]:
print(t1)
print(T1)

In [ ]:
print(t1)
T1 = 'test_value'
print(T1)
#important thing to note - python is case sensitive 
# X and x does not means the same thing

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [ ]:
isthisareadablename=3
# to break cells in two : ctrl shift -

In [ ]:
_or_this_is_more_readable_despite_being_longer=4

**Reserved Words:**


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
and = 4


### variable types

In [ ]:
print(t1, "is of type",type(t1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))
print(t5, type(t5))

In [ ]:
x="5"
type(x)

In [ ]:
x+"2"

In [ ]:
int(x)+2

In [ ]:
x="1111"
type(x)

In [ ]:
int(x)

In [ ]:
x="42"
x=int(x)

In [ ]:
print(x)
type(x)

In [ ]:
x = "42"
print(int(x))
print(type(x))

print("Changing the structure & reasigning it")
x = int(x)
print(type(x))

In [ ]:
x=int(x)
type(x)

# please note - int(x) doesn't changes type of x. to do that you need to replace the variable

In [ ]:
#Data types in python

# There are different data types in python
# 1. Numeric
#     A. Integer
#     B. Float
# 2. String

#only about numeric

int1 = 5
int2 = 10
float1 = 5.25
float2 = -0.56
none_value = None

print(int1/int2)
print(int2*int1)
print(float1/float2)
print(int1/float1)
print(float2/int2)
print(none_value)

print(type(int1/int2))
print(type(int2*int1))
print(type(float1/float2))
print(type(int1/float1))
print(type(float2/int2))
print(type(none_value))

In [ ]:
int(float1),int(float2)

In [ ]:
int(none_value)

In [ ]:
str(none_value)

In [ ]:
str(5)

### Numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [ ]:
x=1.22
y=20
x+y

In [ ]:
x-y

In [ ]:
x*y

In [ ]:
x/y

you can do multiple operations separated by comma

In [ ]:
x+2,y+3,x+y,x**(x+y)

In [ ]:
# x^y : this is not same x**y 
x=2
y=1
x^y

you need to use double asterisks for exponents as shown below

In [ ]:
x=2
y=3
x**y

In [ ]:
z=(x+y)**x - y/x
z

In [ ]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

print(a,b,c,d)

In [ ]:
# not allowed
a,b,c=2


You should either do this :

In [ ]:
a,b,c=2,3,5
print(a,b,c)

Or this :

In [ ]:
a,b,c=[2,2,2]
a,b,c

Or this:

In [ ]:
a,b,c=[2]*3
a,b,c

In [ ]:
x = 'python'
print(x*3)
print(x+"$$$$$"+x)

### Logical values and Operations

In [ ]:
x=True
y=False

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
x and y

In [ ]:
x & y

In [ ]:
x or y

In [ ]:
x | y

In [ ]:
not y

In [ ]:
!x 
#doesn't works in python

In [ ]:
x= 2 
y= 3

In [ ]:
# Is x not equal to y ? 

print(x != y)


# Is x equal to y ? 
print(x == y)

### String values and operations

In [ ]:
# A lot of functions today are specifically for string (i.e. Text) !!! 
# For example - Text Analytics or the most common - (Google search engine)
# Doing that is very easy in python 

# single , double or even triple means string
# double or triple quote is used specifically when we need ' in the character (the other way is using \)

x = 'Bombay'
y = "Banglore"
x,y

In [ ]:
check = ''' She said, "Learning python is an interesting but tedious job ! Yups's" '''
print(check)
print("")

# escape character
check2 = ' She said, "Learning python is an interesting but tedious job ! Yups\'s" '
print(check2)
print("")

"\ - is telling python that the next character is a character please treat it like that"

print("")
para = '''First line
second line
third line'''
print(para)

In [ ]:
x= "string"
print(x)

In [ ]:
dir("abc")
#dir('abc') -- results in same output

In [ ]:
print(x,"lenght of x",len(x))

print(y,"lenght of y",len(y)) #to get the length of the string

In [ ]:
x+y #concatenation

In [ ]:
x+" "+"fnbnv"+" "+y #while concatenating -- other operations can be added

In [ ]:
x="Bombay"

In [ ]:
z=x+" to "+y
z

In [ ]:
print(z.upper())
print(z)

In [ ]:
z = z.upper()
print(z)

In [ ]:
z.lower()

In [ ]:
z.capitalize()

In [ ]:
len(z)

In [ ]:
print(z.rjust(30))
# 20 is string length after padding with space

In [ ]:
print(z.ljust(30))

In [ ]:
print(z.center(30))

In [ ]:
z

In [ ]:
z="   "+z+"    "
z

In [ ]:
z.lstrip()

In [ ]:
z = z.rstrip()

In [ ]:
z

In [ ]:
x = 'abc ##$'

In [ ]:
x.strip("c")

In [ ]:
print(x.strip())
print(x.strip('$'))
print(x.strip('#'))
print(x.strip('a'))

# -- cannot strip anything in between

In [ ]:
z

In [ ]:
print(z)
z.replace("B","$#@")

can i remove all white spaces . find out if a function like compress is there in python

In [ ]:
print(z)
z=z.strip()
z

In [ ]:
print(z)

k=z.split("A")
print(k)

In [ ]:
print(k)

In [ ]:
print(type(k))

In [ ]:
a,b,c=k

In [ ]:
b

Input() Function

In [ ]:
input()

In [ ]:
z = int(input())

In [ ]:
z

Solve Assignment 1 :
Q5,Q9,Q11,Q12,Q16,Q17

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [ ]:
x='somethingtosay'

# a String on n characters is numbered as - 
# 0,1,2,...n-1 or backwards -1,-2,...
print(x[0])
print(x[0:5])
print(x[2:])
print(x[:6])

In [ ]:
z= "0123456789"

In [ ]:
type(z)

In [ ]:
print(z)
z[2:] #--- this is called slice in python, also note '10' is not included

In [ ]:
print(z)
z[3:]

In [ ]:
print(z)
z[:3]

In [ ]:
print(z)
z[:-3]
z[-1]
z[-5:]
z[:-4]
z[-9:-5]

In [ ]:
#print(z)
#z[-3:]
print(len(z))
print(z[len(z)-2])
z[9]

In [ ]:
print(z)
print(z[::-1])
print(z[::-3])
# we can also reverse the statement

In [ ]:
len(z)

In [ ]:
print(z[len(z)-1])

In [ ]:
print(z)

print(z[-1:-10])
print(z[-9:-1])

print(z[-1:-10 :-1])
# we can do that in steps as well

In [ ]:
print(z)
z[3:-3]

In [ ]:
print(z)
z[-6:-2]

In [ ]:
#please note python doesn't allow modification within the string

z = 'Hello'
print(z)
# lets say you want to make it "help!"
# will this work ?

z[3:]='p!'

# String are immutable

In [ ]:
#Other idea
print(z)
print("")

z = z[:3]+"p!"
print(z)

#PLEASE NOTE - String are imutuale - meaning this new Z is NEW !!!!!

In [ ]:
z='aabbccdd-AABBCCDD'

In [ ]:
print(z)
z.count("B")
# note "B" is not included

In [ ]:
x=100
y=-90

x==y

In [ ]:
x!=y

In [ ]:
x>y

In [ ]:
x<y

In [ ]:
x>=y

In [ ]:
x<=y

In [ ]:
x="assignmenta"
y="assignment"

y in x

In [ ]:
x>y

In [ ]:
x not in y

In [ ]:
x='abc'
y='pqr'
x < y

In [ ]:
x > y

In [ ]:
x="Aaaaaaaaa"
y="Aaajsa"
x>y

In [ ]:
print(56,45,89);

print("test")

### If-else if condition

In [ ]:
# Control Flow

if True:
    print("Print if True")
    
if False:
    print("Print if False")

In [ ]:
x = 5

if x == 5:
    print("Yes! x = 5")
    print("You are correct!")
    print("congratulations")

if x !=5:
    print("No! x not equal to 5")
    print("I am sorry, You are wrong")

print("Outside the if function")

#intendation - If conditions in python work with intend only

In [ ]:
#example of intend error
if x == 5:
print("Yes")

In [ ]:
score = int(input("Enter your test score : "))
passing = 40
distinction = 90

In [ ]:
if score >= distinction:
    print("You're at the top! You’ve earned a distinction!")

if score >= passing :
    print("You have passed!")

if score < passing:
    print("Sorry! You have failed")

In [ ]:
if score>90:
    print("TOP")
    
elif  score>85:
    print("Distinction")
elif score >=60:
    print("First Class")
elif score >=40:
    print("Second Class")

else:
    print("Failed")

In [ ]:
statement = "The coffee is bad"

if 'bad' in statement:
    print("Bad review!")

statement2 = "This phone works great"

if 'bad' not in statement2:
    print("This is not a bad review")

In [ ]:
num = int(input("Enter a number: "))

#enter 24

if num%2==0:
    print("Even")
    if num%4==0:    
        print("divisible by 4")
    else:
        print("Not divisible by 4")
        
        
else:
    print("Odd")
    if num%3==0:
        print("Divisible by 3")
    else:
        print("Not divisible by 3")

Solve the following questions from assignment 2: Q2,

### try & except

In [ ]:
x= int('abc')

In [ ]:
# if the "try" works then "except" is skipped : else "except" is executed

# very useful for handling errors in python

try:
    x = int('abc')
except:
    x = -1

In [ ]:
print(x)

In [ ]:
num1 = int(input("Number 1 :"))
num2 = int(input("Number 2 :"))

try:
    print("try block getting exe")
    print(num1/num2)
    print("try block finished")
except:
    print("Cannot divide by 0")
    print("Replacing 0 with 0.001")
    print(num1/0.001)
    
# Readup on try-except-finally

In [ ]:
# The same thing cannot be done using if-else
# try & except is used specifically for handling errors 

#check
if True:
    x = int('abc')
else :
    x = -1

A code, which may possibly result in error - should be covered under try:except
Solve assignment 2 : Q6

In [ ]:
n = float(input("Enter Number of Hrs : "))
r = float(input("Enter rate / hr : "))

if n > 40:
    eh = n - 40
    pay = (40*r) + (eh*r*1.5)
else :
    pay = (n*r)
print(pay)

In [ ]:
try :
    
    n = float(input("Enter Number of Hrs : "))
    r = float(input("Enter rate / hr : "))

    if n > 40:
        eh = n - 40
        pay = (40*r) + (eh*r*1.5)
    else :
        pay = (n*r)
        
    print(pay)
        
except :
    print("Please input numeric values")
    
finally :
    print("If then ... then collect from Accounts")

### Lists

In [ ]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
y = [1,True,'string',None]
print(x)
print(y)

selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

In [ ]:
print(type(y))
print(type(y[0]))
print(type(y[1]))
print(type(y[2]))
print(type(y[3]))

#Python allows this - good but usually you come up to list with each element of 1 single type

In [ ]:
#referring values within the list 
print(x)
print(x[3:7])
print(x[5])
print(x[3:])
print(x[:3])
print(x[0:-1])
print(x[0:-1:2])
print(x[1::2])

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [ ]:
#Replacing values within a list
print(x)

# Chnging the value of 2nd index i.e. 3rd element
x[2]="new 2"

print(x)

In [ ]:
print(x)
x[2]="2 to 4"
print(x)

In [ ]:
x=[0,1,2,3,4,5,6,7,8]
print(x)
x[2:4]=["2 to 4"]
print(x)

In case multiple assignment, value is then treated as a list with each char as individual element

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [ ]:
#find lenght of a list 
print(x)
len(x)

In [ ]:
dir(list)

In [ ]:
x=[0,1,2,3,4,5,6,7,8,9]
print(x)

x.append(10)
print(x)

x.append([14,15,16])
print(x)
len(x)
print(x[-1][0])

#Note - A list can contain another list and it is called nesting - Nested list

In [ ]:
print(x[11])

In [ ]:
print(x[11][1])

In [ ]:
print(x[11][1:])

In [ ]:
x = [0,1,2,3]
print(x)

x = x+[4,5,6]
print(x)

x.extend([7,8,9])
print(x)

In [ ]:
print(x)

x.insert(8,"1b")
print(x)

#how to insert multiple numbers ?

In [ ]:
print(x)

x.remove("1b")
print(x)

#how to remove multiple numbers ?

In [ ]:
print(x)

x.pop()
print(x)

x.pop(4)
print(x)

In [ ]:
print(x)
x.remove(4)
print(x)

```
Ex: what if there are multiple occurences of the value which you are trying to remove. Is there a way to remove multiple values at once or a value at a specific position?
```

In [ ]:
x = [0,7,8,5,4,3,2,1]
print(x)
print(x[2])

x.sort() # sorts in place
print(x)
print(x[2])

In [ ]:
y = ["b","c","z","a"]
print(y)
y.sort()
print(y)

In [ ]:
# how to sort descending ?

In [ ]:
z = [1,3,2,9,7,"z","y","abc"]
z.sort()

In [ ]:
x.reverse() # reverses in place
print(x)

#is there a direct way of sorting in descending manner ?

In [ ]:
# how to insert multiple objects in list at one go ?
# how to remove/delete multiple objects in list at one go ?
# how to remove same number which is repeating ?
# how to sort descending directly ?

In [ ]:
print(x)
x.clear()
print(x)

In [ ]:
x = [0,7,8,5,4,3,2,1]
print(x)
x.delete(1)
print(x)

In [ ]:
x = ["abcd"]

In [ ]:
x.remove("abcd")
print(x)

In [ ]:
nested = [ ['ABC', [0] ], [1,2,3] ,5, ['x','y','z'] ,"char", (1,2,3)]

In [ ]:
len(nested)

In [ ]:
nested

In [ ]:
print(nested[0])
print(nested[1])
print(nested[0][1])

print(nested[0][1][0])

print(nested[1][0:2])

In [ ]:
nested[1]='ABC'
print(nested)

#lists are mutuable

### Tuples

In [ ]:
#Tuple - One dimensional, immutable, ordered sequence of items which can be of mixed datatypes

#creating a Tuple
t2 =(12345,54321,'hello!')

t1 = 12345, 54321, 'hello!'

print(t1,t2)
print(type(t1))

In [ ]:
t =( 12345, 54321, 'hello!',[1,2,3]) # same thing
t[3][0]

In [ ]:
t = (12345,54321,'hello',[1,2,3],(1,2,3))
t

In [ ]:
u =  t, (1, 2, 3, 4, 5) 
print(type(u))

In [ ]:
t = 0,1,2,3,['l1','l2','l3'],('t1','t2','t3')
t

In [ ]:
#Acess any object from Tuple ?

print(t)
print(t[0])
print(t[-1])
print(t[3:])
print(t[:3])
print(t[0::2])
print(t[4])
print(t[5])

#so you sure can access all values and pretty much same as list

In [ ]:
t[0]=21 # you can not reassign

In [ ]:
t

In [ ]:
t[0]=21

In [ ]:
print(t)

t[5][0]='new t1'

print(t)

In [ ]:
print(t)
t[4] = 0

In [ ]:
t
t.append(1)
print(t)

In [ ]:
print(t)
t.sort()
print(t)

In [ ]:
len(t)

In [ ]:
t.clear()

In [ ]:
print(t)
del(t)

In [ ]:
t

In [ ]:
t = (1,2,3)
#t[0]='new1'
t = ('new1',2,3)
print(t)

### Difference between list and tuple:

*Note :* lets understand the difference between these 2 first

In [ ]:
# Both list & tuple are used to store collection of items

# The major difference is, list is mutable and tuple is immutable, but surely we can replace the tuple and consider it mutable

#To understand this difference, the first thing you need to understand is -- Variable & Object

list1 = [1,2,3]
print(list1, id(list1) )

In [ ]:
#step2
list1[0] = '1-modified'
print(list1, id(list1) )

In [ ]:
tuple1 = (1,2,3)
print(tuple1, id(tuple1) )

In [ ]:
tuple1 = ('1-modified',2,3)
print(tuple1, id(tuple1) )

#which means the variable (referencing) changes for tuple but not for list

#The above is true for all Mutuable and Immutable types in python

In [ ]:
x = [2,3]
y = [2,3]
z = x

print(id(x))
print(id(y))
print(id(z))

In [ ]:
z[1] = 5

print(z)

In [ ]:
print(x)

In [ ]:
x = [2,3]
z = x

z[1] = 5
print(z)
print(x)

In [ ]:
#Extension of the same idea
x = 6
y = x

print(id(x))
print(id(y))
x = 7
print(y)
print(x)

print(id(x))
print(id(y))
#Tell me what should be the value of y ?

In [ ]:
#  We saw 2 contrdictory results bcz of Mutable vs Immutable

# In Pyhton: for Mutable values, assignment does not make a fresh copy but, for immutable values it DOES !

# Next obvious question ?how to create copy ?
list1_copy = list1.copy()

#please note, we are using slice method to create a copy ! This is called full slice

In [ ]:
list2 = list1[:]

In [ ]:
print(list1, list1_copy, list2)
print("")

print(id(list1), id(list1_copy), id(list2))

In [ ]:
list1 = [1,2,3,4]
list2 = [1,2,3,4]
list3 = list2

In [ ]:
print(list1 == list2)
print(list2 == list3)

In [ ]:
print(id(list1))
print(id(list2))
print(id(list3))

In [ ]:
# introducing "is"
print(list1 is list2)
print(list2 is list3)

In [ ]:
# 1 last example 

list1 = [1,2,3,4]
list2 = list1

print(id(list1))
print(id(list2))

list1 = list1 + [9]
# + - always produces a new list
print(list1)
print(list2)

print(id(list1))
print(id(list2))

### Dictionaries

In [4]:
#most important built-in data structure - mapping a certain keys to a certain values

#Keys - immutable type (variables)
#Values - any data type 
# both Keys+Values are python objects

#we can view,modify,define,create,lookup,delete (Key-Value pair)

d= {"Teacher":["Gaurav", "Akash", "Bobby"], 
    
    "Student":["Soham", "Vivek", "Gifty", "Dipali"],
    
    "Subject":["Python","R","Stats"],
    
    "Example_list":[1,2]}

print(d)

{'Teacher': ['Gaurav', 'Akash', 'Bobby'], 'Student': ['Soham', 'Vivek', 'Gifty', 'Dipali'], 'Subject': ['Python', 'R', 'Stats'], 'Example_list': [1, 2]}

In [ ]:
type(d)

In [1]:
test_dict = {1:(1,2,3),2:[1,2,3],"Str_name":"Value"}

In [2]:
print(test_dict)
print(type(test_dict))

{1: (1, 2, 3), 2: [1, 2, 3], 'Str_name': 'Value'}
<class 'dict'>

In [5]:
d.keys()

dict_keys(['Teacher', 'Student', 'Subject', 'Example_list'])

In [6]:
d.values()

dict_values([['Gaurav', 'Akash', 'Bobby'], ['Soham', 'Vivek', 'Gifty', 'Dipali'], ['Python', 'R', 'Stats'], [1, 2]])

In [7]:
d.items()

dict_items([('Teacher', ['Gaurav', 'Akash', 'Bobby']), ('Student', ['Soham', 'Vivek', 'Gifty', 'Dipali']), ('Subject', ['Python', 'R', 'Stats']), ('Example_list', [1, 2])])

In [ ]:
d["Teacher"]

In [ ]:
#update a key value 
d.update( {"Teacher":["Gaurav","Akash"]} )
print(d)

In [ ]:
#delete
del d['Teacher']
print(d)

In [ ]:
# add new key value pair
d['module']="intro"
print(d)

In [ ]:
#how to use pop() 
#how to use popitem()
#how to copy a dictionary 

#simple way of constructing a dictionary

d = dict(Teacher="Gaurav",Students="The Future",Subject="Python -Today & Tom but not day after")
print(d)
d1=d.copy()
print("D1 dictionary ",d1)
d.pop('Teacher')
print(d)
d.popitem()
print(d)
d.clear()
print(d)
print(d1)

In [ ]:
keys={'a','e','i','o','u'}
values=[1]
vowels=dict.fromkeys(keys,values)
print(vowels)
values.append(2)
print(vowels)

### Sets

In [ ]:
animals = { 'cat', 'dog' }

In [ ]:
type(animals)

In [ ]:
'cat' in animals

In [ ]:
'fish' in animals

In [ ]:
animals.add('fish')
print(animals)

In [ ]:
animals.add('cat')   
print(animals)

In [ ]:
animals.add('cow')
print(animals)

In [ ]:
animals.remove('cat')
print(animals)

In [ ]:
a={1,2,3,4,5,6}

b={4,5,6,7,8,9}

In [ ]:
c=a.union(b)
print(c)

c =a | b
print(c)

In [ ]:
c = a.intersection(b)
print(c)

c = a & b
print(c)

In [ ]:
p={1,2,3}
q={1,2,3,4,5,6}
print(p)
print(q)
print(p.issubset(q))
print(q.issuperset(p))

c.issuperset(b)

In [ ]:
l = [1,1,1,1,2,2,2,3,4,5,6,7,7,7,8]

In [ ]:
nd = list(set(l))
print(nd, type(nd))

In [ ]:
#1
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8,9}

#2
set1.add(7)
print(set1)

#3
print(set1 | set2)
print(set1 & set2)

#4
print(set1.issubset(set2))

#5
list1 = list(set1)
print(list1)

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [ ]:
print(a)
print(b)
a.difference(b)

In [ ]:
b.difference(a)

In [ ]:
print(a)
print(b)
a.symmetric_difference(b)

### Loops

In [ ]:
# A Simple task -Print all items of this list 1 after the other

x = ['abc','bcd','cdf']

# Cool ! Simple

print(x[0])
print(x[1])
print(x[2])

In [ ]:
# do the same for below list 
list1 = [1,2,3,4,5,6,7,8,9,10,11,0]
print(list1)
# Oops !! we have a solution but not optimal solution

In [ ]:
# For loops in Python

for i in list1 :
    print(i)

# Anything that needs to be done repeatedly - better to use loops

In [ ]:
# print only those values which are < 5

for i in list1:
    
    if i < 5: 
        print(i)
    else:
        print(i, "greater than equal to 5")

In [ ]:
# introducing range

print(range(5))


print(type(range(3,6)))
range(1,3)

In [ ]:
for i in range(1,5):
    print(i)

In [ ]:
#pattern to print-

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [ ]:
str1=''
for i in range(9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>=5:
        str1 = str1[:-2]
        print(str1)

In [ ]:
for i in range(1,6):
    print(str(i)*i)

To Solve : Convert the below list into a numeric list

l1 = ['1','2','3','4','5',6,7,8]

In [ ]:
#classify into good and bad reviews

s1 = "This app is Bad"
s2 = "This app is BAD"
s3 = "I have never used something so pathetic"
s4 = "Not that bad, needs improvisation"
s5 = "Good, who ever is calling it bad is dumb"
s6 = "Amazing app! loved it"
s7 = "Worst"

In [ ]:
for i in s1,s2,s3,s4,s5,s6,s7:
    if "bad" in i.lower():
        print("bad review")
    else:
        print("good review")

In [ ]:
l1 = []
l1.extend([s1,s2,s3,s4,s5,s6,s7])

In [ ]:
for i in l1:
    if "bad" in i.lower():
        print("bad review")
    else:
        print("good review")

In [ ]:
for i in l1:
    
    if "bad" in i.lower():
        print("bad review")
        
    elif "pathetic" in i.lower():
        print("bad review")
        
    elif "worst" in i.lower():
        print("bad review")
        
    else :
        print("good review")

In [ ]:
for i in l1:
    if ("bad" in i.lower() or "pathetic" in i.lower() or "worst" in i.lower()) :
        print("bad review")
    else :
        print("good review")

In [ ]:
neg_words=['bad','pathetic','worst']
for i in l1:
    if neg_words in i.lower():
        print("bad review")
    else :
        print("good review")

In [ ]:
for i in range(4):
    print(i)
    print("**************************")
    
    for j in range(3):
        print(j)
        
    print("__________________________")
    
    
print("$$$$$$$$$$$$$$$$$$$$$$$$$$$$$")

In [ ]:
bad = ['bad', 'pathetic', 'worst', 'terrible']

In [ ]:
for i in l1:
    
    count = 0
    for j in bad:    
        if j in i.lower():
            count += 1
            
    if count > 0:
        print(i,":" ,"bad review")
    else :
        print(i ,":", "good review")

for loops in string

In [ ]:
my_string = "This is introduction to for loops in python"
print(my_string)

To Solve - Count all of the vowels in the below statement

st = "This is introduction to for loops in python"

for loops in dictionaries

In [ ]:
sd = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}
sd

In [ ]:
for i in sd:
    print(i)

In [ ]:
for key, val in sd.items():
    print(val, type(val))
    print("------------------")

In [ ]:
sd.items()

In [ ]:
for val in sd.values():
    print(val[0],val[1])

Identify number of students < age 25

In [ ]:
count = 0

for key, val in sd.items():
    if val[1]<=25:
        print(key,val)
        count+= 1

print(count)

Challenge -
1. Identify different hashtags in twitter 
2. Count number of times they are repeating
3. Classify what is trending and what is viral

In [1]:
try:
    
    n = float(input("Enter number of hrs:"))
    r = float(input("Enter rate/hr:"))
    
    if n < 0:
        print("invalid input")
        n=float(input("Enter n"))
#         eh = n -40
#         pay = (40*r) + (eh*r*1.5)
    else: 
        pay = (n*r)
        
    print(pay)
    
except:
    print("Please input numeric values")
    
finally:
    print("If then ...then collect from accounts")

Enter number of hrs:-5
Enter rate/hr:2
invalid input
Enter n-5
Please input numeric values
If then ...then collect from accounts

In [2]:
#sentence check
tweet1 = '#beautiful #morning it is looking good'

#step1
for word in tweet1.split():
    print(word)

#beautiful
#morning
it
is
looking
good

In [3]:
    
#step2
for word in tweet1.split():
    if word[0] == '#':
        print(word[1:])

#step3
for word in tweet1.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning
beautiful
morning

In [4]:
tweet1 = '#beautiful #morning it is looking good'
tweet2 = 'A big move towards #NEWINDia #Article370'
tweet3 = 'Loved the ICC world cup match #icc2019'
tweet4 = 'lost #icc2019 lost kashmir #article370 thats the #newindia'
tweet5 = 'you have 1note of 2000 and i have 4*500 notes #icc2019 - I am richer'

In [5]:
l1 = []
l1.extend([tweet1, tweet2, tweet3, tweet4, tweet5])
l1

['#beautiful #morning it is looking good',
 'A big move towards #NEWINDia #Article370',
 'Loved the ICC world cup match #icc2019',
 'lost #icc2019 lost kashmir #article370 thats the #newindia',
 'you have 1note of 2000 and i have 4*500 notes #icc2019 - I am richer']

In [6]:
#sentence check
list_hashtags = []

for i in l1:
    t = str.upper(i)
    
    for j in t.split():
        if j.startswith('#'):
            list_hashtags.extend([j])  
            
list_hashtags

['#BEAUTIFUL',
 '#MORNING',
 '#NEWINDIA',
 '#ARTICLE370',
 '#ICC2019',
 '#ICC2019',
 '#ARTICLE370',
 '#NEWINDIA',
 '#ICC2019']

In [7]:
cnt_hashtags = {} 

for z in list_hashtags:
    
    if z in cnt_hashtags: 
        cnt_hashtags[z] += 1
        
    else: 
        cnt_hashtags[z] = 1
                
print(cnt_hashtags)

{'#BEAUTIFUL': 1, '#MORNING': 1, '#NEWINDIA': 2, '#ARTICLE370': 2, '#ICC2019': 3}

In [8]:
cnt_hashtags = {}

for i in l1:
    t = i.upper()
    for j in t.split():
        if j.startswith('#'):
            cnt_hashtags[j] = cnt_hashtags.get(j,0)+1
print(cnt_hashtags)

{'#BEAUTIFUL': 1, '#MORNING': 1, '#NEWINDIA': 2, '#ARTICLE370': 2, '#ICC2019': 3}

In [ ]:
cnt_tweets = {}

with open('test.txt','r',encoding="utf-8") as file:    
    
    for i in file :
        t = i.upper()
        
        for j in t.split():
            if j.startswith('@'):                
                cnt_tweets[j] = cnt_tweets.get(j,0)+1
                
cnt_tweets

While loop

In [ ]:
#Do not run this

#while True:
    #print('infinite loop')

In [10]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [13]:
x = int(input("Enter the number :"))

if x < 0:
    print("Invalid number")
else:
    f = 1
    while x >0:
        f *= x
        x -= 1 
        #print(f)
    print(f)

Enter the number :6
720

break continue & pass

    break - terminates current loop & resumes execution at the next statement
    continue - returns the control to the beginning of the statement 
    pass - required syntactically but you do not want any command to be executed

In [14]:
for i in range(6):
    print('------- befor if-------')
    if i == 3:
        break
    else:
        print(i,'inside else')
        
    print('------- After ifelse-------')
    print("")
    print("")
    
print(i,'Outside the loop block')

------- befor if-------
0 inside else
------- After ifelse-------


------- befor if-------
1 inside else
------- After ifelse-------


------- befor if-------
2 inside else
------- After ifelse-------


------- befor if-------
3 Outside the loop block

In [15]:
for i in range(6):
    print('------- befor if-------')
    if i == 3:
        continue
    else:
        print(i,'inside if')
    print('------- After if-------') 
    print("")
    print("")
print(i,'Outside the loop block')

------- befor if-------
0 inside if
------- After if-------


------- befor if-------
1 inside if
------- After if-------


------- befor if-------
2 inside if
------- After if-------


------- befor if-------
------- befor if-------
4 inside if
------- After if-------


------- befor if-------
5 inside if
------- After if-------


5 Outside the loop block

In [16]:
for i in range(6):
    print('------- befor if-------')
    if i ==3:
        pass
    else:
        print(i,'inside if')
    print('------- After if-------')
    print("")
    print("")
print(i,'Outside the loop block')

------- befor if-------
0 inside if
------- After if-------


------- befor if-------
1 inside if
------- After if-------


------- befor if-------
2 inside if
------- After if-------


------- befor if-------
------- After if-------


------- befor if-------
4 inside if
------- After if-------


------- befor if-------
5 inside if
------- After if-------


5 Outside the loop block

In [17]:
List = []
 
# Traditional approach of iterating
for character in 'Geeks 4 Geeks!':
    List.append(character)
 
# Display list
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

In [18]:
List = [character for character in 'Geeks 4 Geeks!']
 
# Displaying list
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

In [19]:
numbers=[1,3,5,7,9]
squares=[]
for i in numbers:
    squares.append(i**2)
print(squares)

[1, 9, 25, 49, 81]

In [20]:
squares =[i**2 for i in numbers]
print(squares)

[1, 9, 25, 49, 81]

Solve the following :
    * Ask for input until the user inputs "q"
    * Provide avg of all numeric inputted values

In [ ]:
x = 0
n = 0

while True :
    i = input("Enter 'q' to end / number for avg ")
    
    if i == 'q':
        break
        
    else:
        
        try:
            x += int(i)
            n += 1
            
        except:
            continue

print("Avg", str(x/n))

1. I need list of words
2. Randomly select 1 word from the list
3. Shuffle the selected word
4. Ask user to guess the word
5. If input mataches - Win
6. If input fails, more 2 attempts (in total 3)

In [ ]:
word_list = ['secret','python','mean','jupyter','math','probablity','number','guess','life']

import random
theword = word_list[random.randrange(len(word_list))]
theword

In [ ]:
# will this run ? - Will result in error
random.shuffle('Check')
# String - immutable

In [ ]:
# list - mutable
templist = list(theword)
random.shuffle(templist)
show_word = ''.join(templist)
show_word

In [ ]:
print(show_word)
attempts = 1

while attempts <=3:    
    x = input(("Attempt "+str(attempts)+" Guess the above word correctly: "))
    
    if x.lower() == theword:
        print("You Won !")
        break
        
    elif attempts<=3:
        print("You have "+str(3-attempts)+" attempts to go!")
        attempts += 1
        
        if attempts == 4:
            print("Game over")

In [4]:
List = len([character for character in "List Comprehensions" if character =='a'])
print(List)

0

In [13]:
inp = input("Enter a string value: ")
x=inp
count = len([x for i in range(len(inp)) if x[i] == " "])
print(count)

Enter a string value: ethdghdg ggfhgfhgfh gfhfghfgh
2

In [14]:
squares={x:x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
squares={x:x*x for x in range(6) if x%2==1}
print(squares)

{1: 1, 3: 9, 5: 25}

In [17]:
matrix = [[j for j in range(6)] for i in range(5)]
  
print(matrix)

[[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]

In [19]:
string="Welcome to India"
q4 = "".join([char for char in string.lower() if char not in ["a","e","i","o","u"]])
print(q4)

wlcm t nd

Defining a function in python

def f(a,b,c):
    statement1
    statement2
    return(v)

In [20]:
def gsum(a,b):
    v = a+b+1
    return v

In [21]:
gsum(8,8)

17

In [22]:
gsum(5,5)

11

In [23]:
t  = gsum(5,5)
print(t)

11

In [27]:
# A function can be recursive in nature, Example - 
def factorial(n):
    if n <= 0:
        return(1)
    else:
        v = n*factorial(n-1)
        #print(v)
        return(v)
factorial(10)

3628800

In [30]:
def div(x):
    if x%3 == 0:
        return("Divisible by 3")
    else:
        return("Not divisible by 3")
div(9)

'Divisible by 3'

In [41]:
n = [input().split() for _ in range(int(input()))]
for elem in range(0,len(n)):
    print(elem)
    if elem-1>0:
        print(n[elem])
        print(n[elem-1])
        a=int(n[elem])*int(n[elem-1])
        print(a)
#flatList = [n[elem]*n[elem-1] for elem in range(0,len(n)) if elem-1>0]
#print(flatList)

3
1
2
3
0
1
2
['3']
['2']

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

 * function with default values
 * function with *args
 * function with **kwargs
 * global & local function

In [48]:
# functions with default values
def sum1(a,b=10):
    return a+b

print(sum1(10))
print(sum1(12))
print(sum1(8,1))
print(sum1(2,2))

20
22
9
4

In [49]:
def area(shape,base=None,height=None,radius=None):
    
    if shape.upper() == 'CIRCLE':
        return(3.14*radius*radius)
    
    elif shape.upper() == 'TRIANGLE':
        return(0.5*base*height)
    
    else:
        return(None)

In [50]:
print(area('triangle',10,5))

25.0

In [51]:
print(area('circle',radius =5))

78.5

In [52]:
area('square')

In [ ]:
#while assigning default variables, python will not understand the sequence-- unless its in order or specified

In [53]:
def exp(*arg):
    for i in arg:
        print(i)

In [54]:
exp(1,2,3,4,5)

1
2
3
4
5

In [56]:
def sum1(*arg):
    s = 0
    for i in arg:
        s += i
    return s

print(sum1(1,2,3,4,5))
print(sum1(1))
print(sum1(1,2,3))
print(sum1(2,3,4,5,2,4,3,4,8,4,3,2,5,2,4,2,4,1,6,4,2,5,6,74))

15
1
6
159

In [57]:
def area(shape, *arg):
    if shape.upper() == 'CIRCLE':
        for i in arg:
            return 3.14*i**2
    elif shape.upper() == 'TRIANGLE':
        a=0.5
        for i in arg:
            a = a*i
        return a
    else:
        return None

In [63]:
print(area('Circle',10))
print(area('Triangle',10,2))
print(area('Triangle',1,2,3,5,5,6,7))

314.0
10.0
3150.0

In [64]:
def exp(**kwargs):
    for i,j in kwargs.items():
        print(i,j)

In [65]:
print(exp(k1='v1', k2=None, k3 = 123))

k1 v1
k2 None
k3 123
None

In [66]:
print(exp(k1='v1', k2=None))

k1 v1
k2 None
None

In [67]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

In [68]:
intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

In [69]:
def sum1(*arg):
    v = 0
    for i in arg:
        v += i
    return v

In [70]:
v = 10

In [71]:
v = sum1(1,2)

In [72]:
print(v)

3

In [84]:
value = "OUTSIDE"

def global_local():
    value = "INSIDE"
    return value
print(value)
r=global_local()
print(r)
print(value)

OUTSIDE
INSIDE
OUTSIDE

In [77]:
print(value)

x = global_local()
print(x)

OUTSIDE
INSIDE

In [86]:
value = "Outside"

In [87]:
def global_local():
    global value
    value = "INSIDE"
    return value

In [88]:
value

'Outside'

In [89]:
global_local()

'INSIDE'

In [90]:
value

'INSIDE'

In [91]:
value

'INSIDE'

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [92]:
##Lambda Functions

# What are Anonymous Functions in Python?
In Python, an anonymous function may be a function that’s defined without a reputation.

While defining normal functions, we are using the def keyword in Python, but while defining anonymous functions we are using the lambda keyword.

Hence, anonymous functions also are called Lambda functions.

How to use Lambda Functions in Python?
A lambda function in python has the subsequent syntax.

Syntax of Lambda Function in Python:

lambda arguments: expression




Note that the Lambda functions can have any number of arguments but they have only one expression. Firtsly, the expression is evaluated and then returned. We used Lambda functions wherever function objects are required.

In [103]:
def double1(x):
    return x * 2

In [104]:
double1(5)

10

In [105]:
double = lambda x: x * 2
print(double(10))

20

# Use of Lambda Functions in Python
We use lambda functions once we require a nameless function for a brief period of your time.

In Python, we generally use Lambda Functions as an argument to a higher-order function (a function that takes in other functions as arguments).

# Pros
Good for simple logical operations that are easy to understand. This makes the code more readable too.
Good when you want a function that you will use just one time.

# Cons
They can only perform one expression. It’s not possible to have multiple independent operations in one lambda function.
Bad for operations that would span more than one line in a normal def function (For example nested conditional operations). If you need a minute or two to understand the code, use a named function instead.
Bad because you can’t write a doc-string to explain all the inputs, operations, and outputs as you would in a normal def function.

# Filter().
This is a Python inbuilt library that returns only those values that fit certain criteria. The syntax is filter(function, iterable). The iterable can be any sequence such as a list, set, or series object (more below).
The example below filters a list for even numbers. Note that the filter function returns a ‘Filter object’ and you need to encapsulate it with a list to return the values.

In [96]:
list_1 = [1,2,3,4,5,6,7,8,9]
filter(lambda x: x%2==0, list_1)

In [97]:
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

# Map(). 
This is another inbuilt python library with the syntax map(function, iterable).
This returns a modified list where every value in the original list has been changed based on a function. The example below cubes every number in the list.

In [98]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [107]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
add = map(lambda x,y: x+y,list1,list2)
print(list(add))

[7, 9, 11, 13, 15]

# Lambda Functions in reduce()
The reduce function, like map(), is employed to use an operation to each element in a sequence. However, it’s working is a bit differs from the map function. The following steps are to be followed by the reduce() function to compute an output:

Step-1: Perform the defined operation on the primary 2 elements of the sequence.

Step-2: Save this result

Step-3: Perform the operation with the saved result and therefore the next element within the sequence.

Step-4: Repeat until no more elements are left.

It also takes two parameters:

A function that defines how the operations to be performed
A sequence (any iterator like lists, tuples, etc.)

In [108]:
from functools import reduce
sequences = [1,2,3,4,5,6]
product = reduce (lambda x, y: x*y, sequences)
print(product)

720

In [110]:
words=['abc','aaa','bbb']
result = list(filter(lambda x: (x == "".join(reversed(x))), words)) 
print(result)

['aaa', 'bbb']

In [116]:
a='aaaa'
c=reversed(a)
b=a[::-1]
print(b)
#"".join(reversed(a))
for i in c:
    print(i)

aaaa
a
a
a
a

In [124]:
import math as m
pi = m.pi
r = int(input("Enter the radius: "))
h = int(input("Enter the height: "))

Vol = pi*(r**2)*h
Area = 2*pi*r*(h+r)
print(Vol)
print(Area)

Enter the radius: 5
Enter the height: 4
314.1592653589793
282.7433388230814

In [117]:
list1 = ['abccba', 'pqrst', 'aaaa']
palindrome = filter(lambda x: (x== "".join(reversed(x))), list1)
list(palindrome)

['abccba', 'aaaa']

# Import 
in python is similar to #include header_file in C/C++. Python modules can get access to code from another module by importing the file/function using import. The import statement is the most common way of invoking the import machinery, but it is not the only way.

import module_name 



When the import is used, it searches for the module initially in the local scope by calling __import__() function. The value returned by the function is then reflected in the output of the initial code.

In [118]:
import math

In [119]:
import math

print('pi is', math.pi)
print('cos(pi) is', math.cos(math.pi))

pi is 3.141592653589793
cos(pi) is -1.0

In [125]:
list1 = ['abccba', 'pqrst', 'aaaa']
palindrome = filter(lambda x: (x== "".join(reversed(x))), list1)
list(palindrome)

['abccba', 'aaaa']

In [120]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

This brings us to the end of Fundamentals of Python

Two topics have not been covered as of now, they will be introduced after assignments & internal exams 
* lambda functions
* list comprehensions

#                                                     THE END

___________________________________________________________________________________________________________________________